.channel-modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* ここで覆いの色と透明度を設定 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-channel{
  position: fixed;
  height: 30%;
  width: 25%;
  top: 20%;
  left: 40%;
  overflow-y: auto;
  background-color:  rgba(255, 255, 255, 1);
  padding: 20px;
  border-radius: 4px;
  border: 1px solid black;
}

.item-channel{
    background-color: rgba(255, 255, 255, 0.5);
    width: 80%;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.logoutbutton {
  font-size: 8px;
  width: 70px;
  background-color: #d4dcde;
}
